# Kaggle
KAGGLE_USERNAME=kaggle_username
KAGGLE_API_TOKEN=api_token
KAGGLE_KEY=kaggle_key
KAGGLEHUB_MODEL_REPO=model_repo

# Weights & Biases
WANDB_PROJECT=project_name
WANDB_API_KEY=project_api_key

# Data paths
DATA_DIR=data/raw/messy_mashup
PROCESSED_DATA_DIR=data/processed
TEST_WAV_DIR=data/raw/messy_mashup/
TEST_CSV=data/raw/messy_mashup/test.csv

# Training Outputs
OUTPUT_DIR=outputs
CHECKPOINT_DIR=outputs/checkpoints