# Python
__pycache__/
__pycache__
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.mashup/
.conda/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/
data/raw
data/processed/
data/processed.zip
*.wav
*.mp3
*.flac
*.npy
*.npz

# Logs
wandb/
logs/
*.log

# Model checkpoints
checkpoints/
*.pt
*.pth
*.ckpt

# Kaggle output 
submission.csv

# Temporary
tmp/
cache/

# Ignore .envrc for local environment variables
.envrc

# Environment files
.env

#Models Downloads
downloads/

#Output files
outputs/